*{
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1{
    color: aqua;
    border: 2px solid;
    padding: 4px;
    margin: 10px;
 }

#h2-text-1{
    color: red;
}

.h2-text{
    text-align: center;
}

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px 0;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #005F6B;
  }